@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$theme-color: #e6e6e6;

body {
    font-family: 'Montserrat', Courier, monospace;
}

.panel {
    width: 100%;
    height: 35vh;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme {
    background-color: $theme-color;
    color: darken($theme-color, 70%);
}

.contrast {
    background-color: darken($theme-color, 70%);
    color: $theme-color;
}

.pickr {
    display: inline-block;
    margin-bottom: 10px;
}